---
layout: default
title: Junyi Li | Collaborators
picture: athens
phd-students-first:
  -
    name: Nikolay Bogoychev
    img: nbogoychev
    url: https://nbogoychev.com
    tagline: PhD student, University of Edinburgh
    description: >
      Machine translation
  -
    name: Sorcha Gilroy
    img: sgilroy
    url: http://homepages.inf.ed.ac.uk/s1459276/
    tagline: PhD student, University of Edinburgh. MSc, University of Edinburgh,  2015.
    description: >
      Probabilistic models of graphs
  -
    name: Naomi Saphra
    img: nsaphra
    url: http://nsaphra.github.io/ 
    tagline: PhD student, University of Edinburgh. MSc, Johns Hopkins University, 2015.
    description: >
      Deep learning and social media
  -
    name: Clara Vania
    img: cvania
    url: https://claravania.github.io/
    tagline: PhD student, University of Edinburgh. MSc, University of Edinburgh, 2015.
    description: >
      Deep learning and morphology
  - 
    name: Sameer Bansal
    img: sbansal
    url: http://homepages.inf.ed.ac.uk/s1444673
    tagline: "PhD student, University of Edinburgh (primary supervisor: Sharon Goldater)."
    description: Low-resource speech translation 
  -
    name: Federico Fancellu
    img: fancellu
    url: http://homepages.inf.ed.ac.uk/s1260346/index.html
    tagline: "PhD student, University of Edinburgh (primary supervisor: Bonnie Webber)."
    description: Computational models of negation

former-students:
  -
    name: Michael Auli
    img: auli
    url: http://michaelauli.github.io/ 
    tagline: PhD 2012, University of Edinburgh. Now at Facebook AI Research.
    description: >
      During our collaboration Michael developed the most accurate known 
      parser for combinatory categorial grammar, a linguistically expressive 
      grammar formalism. After graduation Michael began working on neural
      translation, and is one of the key researchers behind Facebook's 
      <a href="https://code.facebook.com/posts/1978007565818999/a-novel-approach-to-neural-machine-translation/">convolutional machine translation system</a>.
  -
    name: Iulia Banghea
    img: edi
    tagline: BSc 2017, University of Edinburgh.
    description: >
      Iulia's honours thesis was on native language identification in second language text.
  - 
    name: Despoina Christou
    img: edi
    url: https://www.linkedin.com/in/despoinachristou
    tagline: MSc 2016, University of Edinburgh. Now at Veltio.
    description: >
      Despoina worked on natural language generation with neural networks.
  -
    name: Andreas Grivas
    img: edi
    tagline: MSc 2017, University of Edinburgh. Now at Mudano.
    description: Dependency parsing of morphologically rich languages
  -
    name: Yova Kementchedjhieva
    img: edi
    tagline: MSc 2017, University of Edinburgh. Now PhD student at University of Copenhagen.
    description: Visualizing and understanding linguistic properties learned by neural networks
  -
    name: Junyi Li
    img: edi
    tagline: MSc 2017, University of Edinburgh.
    description: Language modeling on GPUs
  - 
    name: Evangelia Lypiridi
    img: edi
    tagline: MSc 2016, University of Edinburgh. 
    description: >
      Evangelia worked on natural language generation using phrase-based machine translation.
  -
    name: Katarzyna Pruś
    img: dundee
    url: https://www.linkedin.com/in/katarzyna-pru%C5%9B-6bb609107?ppe=1
    tagline: Visiting BSc student, University of Dundee. Now MPhil student at University of Cambridge.
    description:
      Katarzyna did an excellent project on natural language generation in summer 2015.
  -
    name: Lena Reisinger
    img: edi
    tagline: MInf 2017, University of Edinburgh.
    description: >
      Dependency parsing
  -
    name: Adithya Renduchintala
    img: adi
    url: https://arendu.github.io/
    tagline: PhD student, Johns Hopkins University. 
    description:
      Adi amicably switched advisors after I moved to the University of Edinburgh. We worked together on word alignment and AMR.
  - 
    name: Pijus Simonaitis
    img: enslyon
    url: https://www.linkedin.com/in/pijus-simonaitis-734594bb/?ppe=1
    tagline: Visiting MSc student from École Normale Supérieure de Lyon. Now PhD student at Montpellier Laboratory of Computer Science, Robotics, and Microelectronics.
    description: >
      Pijus worked with us on graph grammars and logics in summer 2016.
  -
    name: Jason R. Smith
    img: jrsmith
    tagline: former PhD student, Johns Hopkins University. Now at Google.
    description: >
      Jason developed methods to mine translated text
      from the web much more inexpensively than previously possible, 
      making such data widely accessible and
      leading to large gains in translation accuracy in many domains.
      He now works on Google Translate.
  - 
    name: Ieva Vasiljeva
    img: edi
    tagline: MSc 2017, University of Edinburgh. Now at Improbable.
    description: Probabilistic graph grammars and automata
  -
    name: Arthur Verkaik
    img: edi
    tagline: MInf 2017, University of Edinburgh. Now at American Express.
    url: https://www.linkedin.com/in/arthur-verkaik-33ab0492/?ppe=1
    description: User interfaces for image captioning
  - 
    name: Ajay Viswanathan
    tagline: MSc 2017, University of Edinburgh.

---
<div class="page-header">
  <h3>Collaborators</h3>
<blockquote><i>Much have I learned from my teachers, more from my colleagues, but most from my students. <br/>&mdash;Talmud</i></blockquote>
</div>

<h4>Former collaborators</h4>

{% include collaborator.html people=page.phd-students-first show=true %}


<!-- <h4>Master's and undergraduate project students</h4>
{% include collaborator.html people=page.project-students show=false %}
 -->
<h4>Alumni</h4>
{% include collaborator.html people=page.former-students show=false %}

<!-- <h4>Collaborators past and present</h4>
{% include collaborator.html people=page.collaborators show=false %} -->

<br/>
I am conservative about who I add to this list.
It includes coauthors and student collaborators.
If your information is out of date, please get in touch.